<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="transaction">
    <div th:each="transaksi : ${transactionData}" class="media text-muted pt-3">
        <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray-dark" th:text="${transaksi.namaHardware}"></strong>

                <a href="#" class="text-dark" th:inline="text">Rp [[${#numbers.formatDecimal(transaksi.total, 0, 'COMMA', 2, 'POINT')}]]</a>
            </div>
            <span th:inline="text" class="d-block">Quantity: [[${transaksi.qty}]]</span>
        </div>
    </div>
</th:block>
</body>
</html>